---
import BaseLayout from "../layouts/BaseLayout.astro";
import directus from "../lib/directus";
import { readItems } from "@directus/sdk";

export async function getStaticPaths() {
    const pages = await directus.request(
        readItems("pages", {
            fields: ["*"],
        }),
    );
    return pages.map((post) => ({ params: { slug: post.slug } }));
}

const { slug } = Astro.params;

const pages = await directus.request(
    readItems("pages", {
        filter: {
            slug: {
                _eq: slug,
            },
        },
        limit: 1,
    }),
);

const page = pages[0];
---

<BaseLayout title={page.title}>
    <h1>{page.title}</h1>
    <article set:html={page.content} />
</BaseLayout>
