---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>About Us</h1>
    <p>
        We are a:gender, the support network for trans and intersex staff across
        Government.
    </p>
    <p>We cover all aspects of:</p>
    <ul>
        <li>gender reassignment</li>
        <li>gender identity</li>
        <li>gender expression</li>
        <li>intersex</li>
    </ul>
    <p>
        Whatever their gender identity or expression, we believe Civil Service
        staff have the right to:
    </p>
    <ul>
        <li>work in a safe environment</li>
        <li>be themselves</li>
        <li>develop and excel at work</li>
    </ul>
</BaseLayout>
