---
import BaseLayout from "../../layouts/BaseLayout.astro";
import directus from "../../lib/directus";
import { readItems, readItem } from "@directus/sdk";

export async function getStaticPaths() {
    const resources = await directus.request(
        readItems("resources", {
            fields: ["*"],
        }),
    );
    return resources.map((resource) => ({
        params: { slug: resource.slug },
    }));
}

const { slug } = Astro.params;

const resources = await directus.request(
    readItems("resources", {
        filter: {
            slug: {
                _eq: slug,
            },
        },
        limit: 1,
    }),
);

const resource = resources[0];
---

<BaseLayout title={resource.title}>
    <main>
        <h1>{resource.title}</h1>
        <article set:html={resource.content} />
    </main>
</BaseLayout>
