---
import Nav from "./Nav.astro";
---

<div class="width-container">
    <div class="header-logo">
        <a class="header-logo-link" href="/">
            <span class="header-logo-text">a:gender</span>
            <span>
                Supporting all trans and intersex staff across government.
            </span>
        </a>
    </div>
</div>
<div class="width-container">
    <Nav />
</div>
