<nav id="navMenu">
    <ul>
        <li>
            <a href="/our-aims">Our Aims</a>
        </li>
        <li>
            <a href="/what-have-we-done-so-far">Our Accomplishments</a>
        </li>
        <li>
            <a href="/for-our-members">For Our Members</a>
        </li>
        <li>
            <a href="/for-employers">For Employers</a>
        </li>
        <li>
            <a href="/join-us">Join Us</a>
        </li>
        <li>
            <a href="/resources">Resources</a>
        </li>
        <li>
            <a href="/volunteer">Volunteer</a>
        </li>
        <li>
            <a href="/your-rights">Your Rights</a>
        </li>
    </ul>
</nav>
